{% extends 'base.html' %}
{% load i18n admin_urls %}

{% block title %}Панель администратора | АИС Общепит{% endblock %}

{% block content %}
<div class="fade-in">
    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Панель администратора</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for app in app_list %}
                            <div class="col-md-4 mb-4">
                                <div class="card h-100">
                                    <div class="card-header">
                                        <h5>{{ app.name }}</h5>
                                    </div>
                                    <div class="card-body">
                                        {% for model in app.models %}
                                            <div class="mb-2">
                                                <strong>{{ model.name }}</strong>
                                                <div class="mt-1">
                                                    <a href="{{ model.admin_url }}" class="btn btn-sm btn-primary">Просмотр</a>
                                                    <a href="{{ model.add_url }}" class="btn btn-sm btn-success">Добавить</a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
